*{
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  font-family: 'Epilogue', sans-serif;
}
body {
  font-size: 18px;
  background: hsl(0, 0%, 98%);
  height: 100%;
  max-height: 100%;
}

ul{
  list-style: none;
}